* {
    font-family: DejaVuSansMNerdFont;
    font-size: 13px;
}

window#waybar {
    background-color: #15161E;
    color: #ffffff;
}

#tags {
    margin-left: 6px
}

#tags button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
}

#tags button {
    padding: 0px 5px 0px 5px;
    color: #999999;
    border: none
}

#tags button.occupied{
    color: #bf616a
}

#tags button.focused{
    color: #FCF8E3
}

#river-mode {
    padding-left: 1px
}

#idle_inhibitor {
    margin-right: 7px
}

#wireplumber {
    margin-left: 5px
}

#tray {
    padding: 0px 8px 0px 8px
}

#temperature {
    padding: 0px 0px 0px 5px
}

#clock {
    margin-right: 16px;
    padding-left: 4px
}

#custom-separator {
    padding: 0px 0px 1px 5px;
    color: #bf616a
}

#cpu,
#memory {
    padding: 0px 5px 0px 5px
}
